.container {
  position: fixed;


}
.sidebar {
  height: 100vh;
  width: auto;

}
.btnSiderbar{
 width:100%;
 height: 5em;
 border:none;
 border-radius: 0;
 background-color: rgb(249, 249, 249, 0.7);


}

.menuItem{
  padding: 5px;
}
.menuItem svg{
  margin-right:15px;
}
