$largura-menor: 500px;


.container {
display:block;
justify-content: center; /* Centraliza horizontalmente */
  padding: 20px;
  width: 100%;
  
//NÃO ALTERAR 
}

.table_container {
  display: flex;
  text-align: center;
 padding: 5em;


}
.table_container table{
  width: 100%;

}
.fixed{
  min-height: 80%;
}

@media screen and (min-width: $largura-menor) {
  
}