
$largura-menor: 500px;
$larguraMD: 768px;

.projeto_container{
    margin: 0 auto;//centraliza
    color:white;
  
   
}
.titulo_container {
    display: flex;
    align-items: center;
    text-align: center;
}
table{
 text-align:center;
 min-width: 320px;
 margin: 15px;

}
.titulo_container h1{
   text-align: center;
    color:white;
}
.titulo_container a{
    margin-right: 10px;
    text-align: center;
}

@media screen and (min-width: $largura-menor) {
  .titulo_container {
    flex-direction: column;
    }
}
@media screen and (min-width: $larguraMD) {

    .titulo_container{
        flex-direction: row;
        justify-content: space-between;
    }
    .projeto_container{
        margin: 35px;
    }
}
