 .form{
    color:white;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.form input{
    padding: 10px;
    margin-bottom: 15px;
    border: none;
}

.form button{
    padding: 10px;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background-color:transparent;
    text-align: center;
    &:hover{
        background-color:white;
        background-color: rgba(255, 255, 255, 0.5);
        color: white;
    }
}