
.sucesso{
    color: green;
    margin: 30px  auto;
    width: 50%;
    min-width: 320px;
    text-align: center;
    font-size: 25px;
    border: 1px solid white;
    padding: 15px;
    border-radius:15px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    
}
.erro{
    color: red;
    margin: 30px  auto;
    width: 50%;
    min-width: 320px;
    text-align: center;
    font-size: 25px;
    border: 1px solid white;
    padding: 15px;
    border-radius:15px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);

}